html, body {
    height: 100%;
    margin: 0px;
    padding: 0;
}
body {
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 14pt;
    line-height: 1.8em;
    overflow:hidden;
}
#content {
    width: 100%;
}
#homeImage {
    height:100%;
    width:100%;
    cursor:pointer;
}